<%- include('../partials/header') %>

	<h2>Update Flight</h2>
	<h3><%= flight.flightNo %></h3>
	<form action="/flights/<%= flight.id %>?_method=PUT" method="POST">
		<label>Airline
			<select name="airline">
				<% airlineChoices.forEach(choice => { %>
					<option value="<%= choice %>" <%= (flight.airline === choice) ? 'selected' : ''%>><%= choice %></option>
				<% }); %>
			</select>
		</label><br>
		<label>Origin Airport
			<select name="airport">
				<% airportChoices.forEach(choice => { %>
					<option value="<%= choice %>" <%= (flight.airport === choice) ? 'selected' : ''%>><%= choice %></option>
				<% }); %>
			</select>
		</label><br>
		<label>Departing date
			<input type="datetime-local" name="departs"  value="<%= departure %>">
		</label><br>
		<button type="submit">Update Origin Flight</button>
	</form>
	<h2>destinations</h2>

	<% flight.destinations.forEach(d => { %>
		<h2><%= d.airport %></h2>
	<% }); %>

	<form action="/flights/<%= flight.id %>/destinations" method="POST">
		<label>add dest
			<select name="airport">
				<% destinationChoices.forEach(choice => { %>
					<option value="<%= choice %>"><%= choice %></option>
				<% }); %>
			</select>
		</label><br>
		<button type="submit">add dest</button>
	</form>
	<form action="/flights/<%= flight.id %>/destinations?_method=DELETE" method="POST"></form>
	<p>
		<%= errorMsg %>
	</p>

<%- include('../partials/footer') %>