<%- include('../partials/header') %>

	<h2>Enter a New Flight</h2>
	<form action="/flights" method="POST">
		<label>Airline
			<select name="airline">
				<% airlineChoices.forEach(choice => { %>
					<option value="<%= choice %>"><%= choice %></option>
				<% }); %>
			</select>
		</label><br>
		<label>Airport
			<select name="airport">
				<% airportChoices.forEach(choice => { %>
					<option value="<%= choice %>"><%= choice %></option>
				<% }); %>
			</select>
		</label><br>
		<label>Flight #
			<input type="text" name="flightNo">
		</label><br>
		<label>Departing date
			<input type="datetime-local" name="departs" value="<%= defaultDeparture %>">
		</label><br>
		<button type="submit">Book Flight</button>
	</form>
	<p>
		<%= errorMsg %>
	</p>

<%- include('../partials/footer') %>