<%- include('../partials/header') %>
	<h2>Flight <%= flight.flightNo %></h2>
	<table>
		<thead>
			<tr>
				<th>Airline</th>
				<th>Airport</th>
				<th>Flight #</th>
				<th>Departs</th>
				<th>mongo id</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<%= flight.airline %>
				</td>
				<td>
					<%= flight.airport %>
				</td>
				<td>
					<%= flight.flightNo %>
				</td>
				<td>
					<%= flight.departs %>
				</td>
				<td>
					<%= flight.id %>
				</td>
			</tr>
		</tbody>
		<form action="/flights/<%= flight.id %>/edit"><button type="submit">edit</button></form>
		<form action="/flights/<%= flight.id %>?_method=DELETE" method="POST"><button type="submit">delete</button></form>
	</table>
<%- include('../partials/footer') %>